<div *ngIf="project">

  <div>

  <div class="panel panel-default">
    
    <div class="panel-heading"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> {{project.name}}
    </div>
    

    <div class="panel-body">
      <div class="row">
      <div class="col-md-8">
        <p>
          {{project.description}}
        </p>
        <p>
          Van <i>{{project.startdate | date:'yyyy-MM-dd'}}</i> tot <i>{{project.enddate | date:'yyyy-MM-dd'}}</i>
        </p>
      </div>
<!--       <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
          </div>
        </div>
      </div> -->

      </div>
    </div>

    <div class="panel-footer"> 
      <button class="btn btn-default" (click)="goToDetails()">{{contentService.contents['site.button.details']}}</button>
      <button type="button" class="btn btn-default" (click)="delete(project)">{{contentService.contents['site.button.delete']}}</button>
    </div>
    

  </div>

  </div>

</div>
