<div *ngIf="selectedReport == -1">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <a style="cursor: pointer;" class="list-group-item" *ngFor="let report of reports; let i = index" (click)="goToDetails(report, i)">
                    <h4 class="list-group-item-heading">{{report.title}}&nbsp;
                        <!-- <span class="pull-right"> 
                             <span class="badge">100</span>
                        <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </span> -->
                    </h4>
                    <p class="list-group-item-text">{{report.description}}&nbsp;</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="reports && selectedReport > -1">
    <ol class='breadcrumb'>
        <li>
            <a (click)="reset()" style='cursor: pointer;'>
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Terug</a>
        </li>
        <li class="active"> {{reports[selectedReport].title}} </li>
    </ol>
    <reportdetail *ngIf="reports && selectedReport > -1" [reportName]="reports[selectedReport].name" [parameters]="parameters"></reportdetail>
</div>